##########
# System #
##########

# macOS file
.DS_Store


####################
# Python & Jupyter #
####################

__pycache__/
.ipynb_checkpoints/


#########
# LaTeX #
#########

*.synctex.gz


##########
# Others #
##########

resources/
**/products/images/
**/products/videos/

##############
# Exceptions #
##############

!**/latex/resources/